<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Siw Catalogo</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/8b7ac4a464.js" crossorigin="anonymous"></script>
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark top border" data-bs-theme="blue">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Catalogo Prodotti</a>


                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <div th:if="${userDetails}">
                            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"
                                th:text="'Ciao ' + ${userDetails.username}">Dark offcanvas</h5>
                        </div>
                        <div th:unless="${userDetails}">
                            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Ciao Ospite</h5>
                        </div>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item" th:if="${userDetails}">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                            <li class="nav-item" th:unless="${userDetails}">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item" th:unless="${userDetails}">
                                <a class="nav-link" href="/register">Registrati</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>

        <header class=" img-fluid">
            <div class="intro-body">
                <div class="container" style="width: 5p; height: fit-content;">
                    <div class="row">
                        <div class="col-lg-6 mx-auto text-center my-2">
                            <h2>Nuovo Fornitore</h2>
                                <form th:action="@{/admin/prodotto}" class="form-horizontal" method="POST" th:object="${prodotto}" enctype="multipart/form-data">
                                  
                                    <div class="form-group">
                                        <div class="col-12 my-2">
                                            <label class="form-label">Nome Prodotto</label>
                                            <input type="text" class="form-control" th:field="${prodotto.nome}" 
                                                placeholder="Nome">

                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-12 my-2">
                                            <label class="form-label">Prezzo</label>
                                            <input type="text" pattern="[0-9]+(\.[0-9]+)?" class="form-control" th:field="${prodotto.prezzo}" 
                                                placeholder="Prezzo">

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-12 my-2">
                                            <label class="form-label">Descrizione</label>
                                            <input type="text" class="form-control" th:field="${prodotto.descrizione}" 
                                                placeholder="descrizione">

                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success my-3">Aggiungi Prodotto</button>


                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>



    </body>

</html>