<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Siw Catalogo</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/8b7ac4a464.js" crossorigin="anonymous"></script>
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark top border" data-bs-theme="blue">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Catalogo Fornitori</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <div th:if="userDetails">
                            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"
                                th:text="'Ciao ' + ${userDetails.username}">Dark offcanvas</h5>
                        </div>
                        <div th:unless="userDetails">
                            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Ciao Ospite</h5>
                        </div>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item" th:if="userDetails">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                            <li class="nav-item" th:unless="userDetails">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item" th:unless="userDetails">
                                <a class="nav-link" href="/register">Registrati</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <header>
            <div class="content-section text-center apply-section">
                <div class="row">
                    <div class="col-lg-6 mx-auto my-5">
                        <h2>Seleziona il Prodotto da Modificare</h2>
                        <p th:if="${prodotti.isEmpty()}">Non ci sono prodotti nel sistema</p>
                        <div th:if="${prodotti}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4" th:each="prodotto : ${prodotti}">


                                        <div class="card my-2">
                                            <div class="card-body">
                                                <h5 class="card-title" th:text="${prodotto.nome}">PRODOTTO</h5>
                                                <p class="card-text" th:text="${prodotto.prezzo}">12.50$</p>
                                                <p class="card-text" th:text="${prodotto.descrizione}">descrizione</p>
                                                <a style="text-decoration: none;"
                                                    th:href="@{'/admin/formUpdateProdotto' + '/' + ${prodotto.id}}"
                                                    class="card-link">Modifica dati</a>
                                                <a style="text-decoration: none;"
                                                    th:href="@{'/admin/updateFornitori' + '/' + ${prodotto.id}}"
                                                    class="card-link">Gestisci Fornitori</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


    </body>

</html>